<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Website</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<header>Fernando´s CRM</header>
		<nav> 
			<ul>
				<li>Add Contact</li>
				<li>Modify Contact</li>
				<li>Display a Contact</li>
				<li>Display all Contacts</li>
				<li>View an attribute</li>
				<li>Delete a contact</li>
				<li>Exit</li>
			</ul>
		</nav>
		<footer>@Fernando Ikeda, 2015 Bitmakerlabs </footer>
	<%= yield %>
	</body>
</html>