<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Website</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<header>Fernando´s CRM</header>
		<nav> 
			<div class="menu">
				<ul>
					<li><a href="/contacts/new">Add contact</a></li>
					<li><a href="/contacts">Modify contact</a></li>
					<li><a href="/contacts">View a contact</a></li>
					<li><a href="/contacts">View all contacts</a></li>
					<li><a href="/contacts">View an attribute</a></li>
					<li><a href="/contacts">Delete contact</a></li>
					<li><a href="/contacts">Exit</a></li>
				</ul>
			</div>
		</nav>
		<article>
			<%= yield %>
		</article>
		<!-- <img src="back.jpg"> -->
		<footer>@Fernando Ikeda, 2015 Bitmakerlabs </footer>
	</body>
</html>